  /*mathstyle.css*/  
span.frac {
display: inline-block;
text-align: center;
vertical-align: middle;
}
span.frac > sup, span.frac > sub {
display: block;
font: inherit;
padding: 0 0.3em;
}
span.frac > sup {border-bottom: 0.08em solid;}
span.frac > span {display: none;}
    
	
#simscreen
{
	position: relative;
	left:0px;
	top:0px;
	height: 600px; 
	width:800px;
	border:solid 1px;
}

#title{
	position:relative;
	left: 0px;
	top: 0px;
	height:40px;
	font-size: 24px;
	text-align:center;
	background-color: black;
	font-family: verdana;
	color: White;
	text-transform: uppercase; 
}

#title h3
{
	padding-top:2px;
	margin:0px;
}	

.simsubscreen
{
	position:absolute;
	left:50px;
	top:50px;
	height:530px;
	width:745px;
}

.incanvas
{
	margin:5px 0 0 5px;
	padding:0;
}

#nextButton
{
	position:absolute;
	left:750px;
	top:530px;
	cursor:pointer;
}

.circlebg
{
	border-radius:100%;
	font-size:25px;
	color:#fff;
	text-align:center;
	background:#000
}

.steptext
{
	display:inline;
	font-size:14px;
}

#copyright{
	position: absolute;
	left:50px;
	top: 580px;
	font-size:12px
}
#human{
	position: absolute;
	left:25%;

}
.readable{
	position: absolute;
	left: 8rem;
	top: 10rem;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 40px;
	font-weight: 600;
	width: 150px;
    border: #000 solid 1px;
}
.signalStrength{
	position: absolute;
	left: 19rem;
	top: 10rem;
	border: #000 solid  1px;
	font-weight: 600;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 40px;
	width: 150px;
}
.tone{
	position: absolute;
	left: 30rem;
	top: 10rem;
	border: #000 solid  1px;
	font-weight: 600;
	padding-top: 10px;
	padding-bottom: 10px;
	
	height: 40px;
	width: 90px;
	
}
.submit1{
	position: absolute;
	left: 20.5rem;
	top: 22rem;
	height: 2rem;
background: #e5dede;
border-radius: 10%;
text-decoration: #fff;
cursor: pointer;
}

.rst{
	position: absolute;
	left: 100px;
	top: 9rem;
	border:2px solid black ;
	height: 8%;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-family: Arial;
	font-size: 125%;
}
.pd{
	position: absolute;
	left: 220px;
	top: 255px;
	text-align: justify;
}
.pd2{
	position: absolute;
	
	top: 255px;
	text-align: justify
}
.pd3
{
	position: absolute;
	left: 450px;
	top: 255px;
	text-align: justify;
	height: 100px;
	width: 200px;
	size: 10rem;
}
.read{
	position: absolute;
	left: 260px;
	top:16rem;
	font-style: bold;
	font-weight: 600;
}
#signalS1{
	position: absolute;
	left: 260px;
	top: 19rem;
	font-style: bold;
	font-weight: 600;
}

.rd1{
	position: absolute;
	left: 247px;
	top: 16rem;
	font-weight: 600;
}
.sg1{
	position: absolute;
	left: 247px;
	top: 19rem;
	font-weight: 600;
}
#toneT1{
	position: absolute;
	left: 260px;

	top: 22rem;
	font-style: bold;
	font-weight: 600;
}
.tn1{
	position: absolute;
	left: 247px;
	top: 22rem;
	font-weight: 600;
}
.toner{
	position: absolute;
	left: 100px;
	top: 22rem;
}
#error{
	position: absolute;
	left:14rem;
	top: 250px;
font-size: 100%;
color: red;
font-weight: 600;
}
.signalC{
	position: absolute;
	left: 100px;
	top: 19rem;
	font-weight: 600;
}
.readC{
	position: absolute;
    left: 100px;
	top: 16rem;
	font-weight: 600;
}
table {
	border-collapse: collapse;
	width: 100%;
	height: 50%;
  }

  th, td {
	border: 1px solid black;
	padding: 8px;
	text-align: center;
  }
  #repeat{
	position: absolute;
	left:290px;
	top: 27rem;
	width:60px;
	height:55px;
	font-weight: 600;
	border: #000 2px solid;
	border-radius: 100%;
	background: #ede8e8;

   text-decoration: #fff;
    cursor: pointer;
  }
  #repeat:hover{
	background: #f2ecec;
  }
  .plybtn{
	position: absolute;
	left:290px;
	top: 10rem;
	width:60px;
	height:55px;
	border-radius:100%;
	border-color: #000;
	color: #000;
	padding-top:30px;
	background-color:#ede8e8;
	cursor: pointer;

}
.plybtn::before{
	position: absolute;
	content: '';
	border-top: transparent 10px solid;
	border-bottom: transparent 10px solid;
	border-left: #000 15px solid;
	top:45%;
	left:50%;
	transform: translate(-40%,-50%);
	cursor: pointer;

}
.plybtn:disabled{
	position: absolute;
	left:290px;
	top: 10rem;
	width:60px;
	height:55px;
	border-radius:100%;
	border-color: #000;
	color: #000;
	padding-top:30px;
}
.speaker{
	position: absolute;
	left: 460px;
	top: 9.5rem;
}